<div class="body">
    <div class="titulo">
        <h1>Tabla de productos</h1>
    </div>
    <div class="btn-agregar">
      <button mat-raised-button color="primary" (click)="redireccionAgregarProducto()">Agregar</button>
    </div>

  <div class="tabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
      </ng-container>

      <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef>Genero</th>
        <td mat-cell *matCellDef="let element">{{ element.genero }}</td>
      </ng-container>

      <ng-container matColumnDef="talla">
        <th mat-header-cell *matHeaderCellDef>Talla</th>
        <td mat-cell *matCellDef="let element">{{ element.talla }}</td>
      </ng-container>

      <ng-container matColumnDef="tipoMaterial">
        <th mat-header-cell *matHeaderCellDef>Tipo de Material</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoMaterial }}</td>
      </ng-container>

      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell *matCellDef="let element">{{ element.descuento }}</td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreCategoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.nombreCategoria }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreTienda">
        <th mat-header-cell *matHeaderCellDef>Tienda</th>
        <td mat-cell *matCellDef="let element">{{ element.nombreTienda }}</td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="redireccionEditarProducto(element.id)">Editar</button>
            <button mat-raised-button color="warn" (click)="eliminarProductoPorId(element.id)">Eliminar</button>       
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

</div>
