<div>
  <div>
    <h1>Agregar nuevo producto</h1>
  </div>
  <div>
    <form action="">
      <div>
        <label for="nombre">Nombre: </label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          [(ngModel)]="datos.nombre"
        />
      </div>
      <div>
        <label for="nombre">Descripción: </label>
        <input
          type="text"
          name="descripcion"
          id="descripcion"
          [(ngModel)]="datos.descripcion"
        />
      </div>
      <div>
        <label for="nombre">Cantidad: </label>
        <input
          type="number"
          name="cantidad"
          id="cantidad"
          [(ngModel)]="datos.cantidad"
        />
      </div>
      <div>
        <label for="nombre">Precio: </label>
        <input
          type="number"
          name="precio"
          id="precio"
          [(ngModel)]="datos.precio"
        />
      </div>
      <div>
        <label for="nombre">Genero: </label>
        <select name="genero" id="genero" [(ngModel)]="datos.genero">
          <option value="I">Seleccione un genero</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
          <option value="O">Otro</option>
        </select>
      </div>
      <div>
        <label for="nombre">Talla: </label>
        <select name="talla" id="talla" [(ngModel)]="datos.talla">
          <option value="I">Seleccione una talla</option>
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
        </select>
      </div>
      <div>
        <label for="nombre">Tipo de material: </label>
        <input
          type="text"
          name="tipoMaterial"
          id="tipoMaterial"
          [(ngModel)]="datos.tipoMaterial"
        />
      </div>
      <div>
        <label for="nombre">Descuento: </label>
        <input
          type="number"
          name="descuento"
          id="descuento"
          [(ngModel)]="datos.descuento"
        />
      </div>
      <div>
        <label for="nombre">Marca: </label>
        <input type="text" name="marca" id="marca" [(ngModel)]="datos.marca" />
      </div>
      <div>
        <label for="nombre">URL de imagen principal:</label>
        <input
          type="text"
          name="imagenPrincipal"
          id="imagenPrincipal"
          [(ngModel)]="datos.imagenPrincipal"
        />
      </div>
      <div>
        <label for="nombre">URL de imagen 2:</label>
        <input
          type="text"
          name="imagen2"
          id="imagen2"
          [(ngModel)]="datos.imagen2"
        />
      </div>
      <div>
        <label for="nombre">URL de imagen 3:</label>
        <input
          type="text"
          name="imagen3"
          id="imagen3"
          [(ngModel)]="datos.imagen3"
        />
      </div>
      <div>
        <label for="nombre">URL de imagen 4:</label>
        <input
          type="text"
          name="imagen4"
          id="imagen4"
          [(ngModel)]="datos.imagen4"
        />
      </div>
      <div>
        <label for="nombre">URL de imagen 5:</label>
        <input
          type="text"
          name="imagen5"
          id="imagen5"
          [(ngModel)]="datos.imagen5"
        />
      </div>
      <div>
        <label for="nombre">Categoria:</label>
        <select name="idCategoria" id="idCategoria" [(ngModel)] = "datos.idCategoria" >
            <option value="0" selected >Seleccione una categoria</option>
            <option *ngFor="let categoria of categorias" value="{{ categoria.id }}"> {{ categoria.nombre}}</option>
        </select>
      </div>
      <div>
        <label for="nombre">Tienda:</label>
        <select name="idTienda" id="idTienda" [(ngModel)] = "datos.idTienda">
            <option value="0" selected>Seleccione una tienda</option>
            <option *ngFor="let tienda of tiendas" value="{{ tienda.id }}"> {{ tienda.nombre }}</option>
        </select>
      </div>
      <button (click)="agregarProducto()">Agregar</button>
      <button (click)="redireccionarProducto()">Volver</button>
    </form>
  </div>
</div>
