<div class="titulo">
    <h1>Agregar categoria</h1>
</div>

<form class="formulario" [formGroup]="FormGroup">

    <mat-form-field class="field">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName = "nombre">
          <button *ngIf="FormGroup.get('nombre')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('nombre')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

</form>

<div class="opciones">
    <div class="botones-opciones">
        <button mat-raised-button color="primary" class="bnt-volver" (click)="redireccionarCategoria()">Volver</button>
        <button mat-raised-button color="primary" class="btn-agregar" (click)="agregarCategoria()">Agregar</button>
    </div>
</div>