<div>
    <div>
        <h1>Agregar nueva tienda</h1>
    </div>
    <div>
        <form action="">
            <div>
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" value="{{ tienda.nombre }}" [(ngModel)] = "datos.nombre">
            </div>
            <div>
                <label for="representante">Representante: </label>
                <input type="text" name="representante" id="representante" value=" {{ tienda.representante }} " [(ngModel)] = "datos.representante">
            </div>
            <div>
                <label for="telefono">Teléfono: </label>
                <input type="text" name="telefono" id="telefono" value="{{ tienda.telefono }}" [(ngModel)] = "datos.telefono">
            </div>
            <div>
                <label for="estadoSuscripcion">Estado de suscripción: </label>
                <input type="text" name="estadoSuscripcion" id="estadoSuscripcion" value="{{ tienda.estadoSuscripcion }}" [(ngModel)] = "datos.estadoSuscripcion">
            </div>
            <button (click)="actualizarTiendaPorId(id,tienda)">Editar</button>
            <button (click)="redireccionarTienda()">Volver</button>
        </form>
    </div>
</div>
