<div class="titulo">
  <h1>Iniciar sesión</h1>
</div>

<form class="formulario" [formGroup]="FormGroup">

  <mat-form-field class="field">
      <mat-label>Correo</mat-label>
      <input matInput type="email" formControlName = "username">
        <button *ngIf="FormGroup.get('username')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('username')?.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName = "password">
        <button *ngIf="FormGroup.get('password')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('password')?.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

</form>

<div class="opciones">
  <div class="botones-opciones">
      <button mat-raised-button color="primary" class="bnt-volver" (click)="iniciarSession()">Iniciar sesión</button>
  </div>
  <div class="mas-opciones-login">
    <div class="contenedor-registrarse">
        <a routerLink="/login">Registrarse</a>
    </div>
    <div class="contenedor-olvide-contraseña">
        <a routerLink="/login">Olvide mi contraseña</a>
    </div>
  </div>
</div>
