<div class="titulo">
    <h1>Agregar usuario</h1>
</div>

<form class="formulario" [formGroup]="FormGroup">

    <mat-form-field class="field">
        <mat-label>Primer nombre</mat-label>
        <input matInput type="text" formControlName = "nombre1">
          <button *ngIf="FormGroup.get('nombre1')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('nombre1')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Segundo nombre</mat-label>
        <input matInput type="text" formControlName = "nombre2">
          <button *ngIf="FormGroup.get('nombre2')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('nombre2')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Primer apellido</mat-label>
        <input matInput type="text" formControlName = "apellido1">
          <button *ngIf="FormGroup.get('apellido1')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('apellido1')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Segundo apellido</mat-label>
        <input matInput type="text" formControlName = "apellido2">
          <button *ngIf="FormGroup.get('apellido2')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('apellido2')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>fecha de nacimiento</mat-label>
        <input matInput type="date" formControlName = "fechaNacimiento">
          <button *ngIf="FormGroup.get('fechaNacimiento')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('fechaNacimiento')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName = "sexo">
            <mat-option value="I"> Selecciones una opción</mat-option>
            <mat-option value="M"> Masculino </mat-option>
            <mat-option value="F"> Femenino </mat-option>
            <mat-option value="O"> Otro </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Teléfono</mat-label>
        <input matInput type="text" formControlName = "telefono">
          <button *ngIf="FormGroup.get('telefono')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('telefono')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Correo</mat-label>
        <input matInput type="text" formControlName = "correo">
          <button *ngIf="FormGroup.get('correo')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('correo')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="text" formControlName = "contrasena">
          <button *ngIf="FormGroup.get('contrasena')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('contrasena')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Fecha y hora de registro</mat-label>
        <input matInput type="datetime-local" formControlName = "fechayHoraDeRegistro">
          <button *ngIf="FormGroup.get('fechayHoraDeRegistro')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="FormGroup.get('fechayHoraDeRegistro')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Tipo de usuario</mat-label>
        <mat-select formControlName = "tipoUsuario">
            <mat-option value="I"> Selecciones una opción</mat-option>
            <mat-option value="ADMIN"> Administrador </mat-option>
            <mat-option value="CUSTOMER"> Cliente </mat-option>
        </mat-select>
      </mat-form-field>
</form>

<div class="opciones">
    <div class="botones-opciones">
        <button mat-raised-button color="primary" class="bnt-volver" (click)="redireccionarUsuario()">Volver</button>
        <button mat-raised-button color="primary" class="btn-agregar" (click)="agregarUsuario()">Agregar</button>
    </div>
</div>



