<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/detallePedido" routerLinkActive="active">Pedidos</a>
      <a mat-list-item routerLink="/producto" routerLinkActive="active">Productos</a>
      <a mat-list-item routerLink="/usuario" routerLinkActive="active">Usuarios</a>
      <a mat-list-item routerLink="/categoria" routerLinkActive="active">Categorias</a>
      <a mat-list-item routerLink="/tienda" routerLinkActive="active">Tiendas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ecomerce</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
        
  </mat-sidenav-content>
</mat-sidenav-container>
